[user]
    name = Sahand Amini
    email = sahand775@gmail.com

[alias]
    lg = log --branches --remotes --tags --graph --oneline --decorate

[init]
    defaultBranch = main

[rebase]
    updateRefs = true

[merge]
    conflictStyle = zdiff3

# ============================================
# Diff tools
# ============================================

[interactive]
    diffFilter = delta --color-only

[credential "https://github.com"]
	helper = !gh auth git-credential
