{{- if .work }}
@unicorns:registry=https://msazure.pkgs.visualstudio.com/One/_packaging/Unicorns-AzureUx/npm/registry/
@microsoft:registry=https://msazure.pkgs.visualstudio.com/One/_packaging/azureux-iaasexp-Consumption/npm/registry/
@arcux:registry=https://msazure.pkgs.visualstudio.com/One/_packaging/compute-hybrid-portal-shared/npm/registry/
@azureportal:registry=https://msazure.pkgs.visualstudio.com/_packaging/AzurePortal/npm/registry/
registry=https://packagefeedproxy.microsoft.io/npm/
{{- else }}
registry=https://registry.npmjs.org/
{{- end }}
