Include ~/.ssh/devboxes.d/*.conf
# Forward the real terminal identity so remote apps like herdr can pick the
# right notification escape; servers opt in with AcceptEnv TERM_PROGRAM.
SendEnv TERM_PROGRAM
{{ if eq .chezmoi.os "darwin" -}}
Include ~/.lima/*/ssh.config

# The Lima VM, on the fixed port from ~/.config/lima/devbox.yaml.
Host {{ .vm.name }} lima
  HostName 127.0.0.1
  Port 60022
  User {{ .vm.user }}
  IdentityFile ~/.lima/_config/user
  IdentitiesOnly yes
  HostKeyAlias lima-{{ .vm.name }}
  StrictHostKeyChecking accept-new
{{ else if not .isLima -}}
# The Lima VM over Tailscale.
Host {{ .vm.name }} lima {{ .vm.hostname }} {{ .vm.ip }}
  HostName {{ .vm.ip }}
  User {{ .vm.user }}
  StrictHostKeyChecking accept-new
{{ end -}}
