{{- if .work }}
[settings.npm]
package_manager = "npm"

[settings.pipx]
registry_url = "https://packagefeedproxy.microsoft.io/pypi/simple/{}/"

[tools]
"npm:@openai/codex" = "0.150.1"
"pipx:azure-cli" = { version = "2.89.1", uvx_args = "--prerelease=allow --overrides {{ "{{ env.HOME }}" }}/.config/mise/azure-cli-overrides.txt" }
{{- end }}
