minimumLimaVersion: 2.0.0

images:
- location: https://cloud-images.ubuntu.com/releases/resolute/release/ubuntu-26.04-server-cloudimg-amd64.img
  arch: x86_64
- location: https://cloud-images.ubuntu.com/releases/resolute/release/ubuntu-26.04-server-cloudimg-arm64.img
  arch: aarch64

param:
  internal_netplanOptional: "true"
cpus: 4
memory: 16GiB
disk: 160GiB
mounts:
- location: {{ .chezmoi.homeDir }}
  mountPoint: {{ .chezmoi.homeDir }}
  writable: false
ssh:
  localPort: 60022
